body {
    background-color: #d9dcd6 
}
.h1 {
    font-size: 30px;
}

.col-9 {
    max-width: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 10px; 
    box-shadow: 0 0 20px; 
    font-family: 'Courier New', Courier, monospace ;
    font-size: 18px;
}

#city {
    font-size: 30px;
    color: black;
}

.date {
    font-size: 30px;
    color: black
}


.good {
    background-color: green;
    font-size: 20;
    color: white;
}
.ok {
    background-color: yellow;
    color: white;
}
.bad {
    background-color: red;
    color: white;
}

.timeCard {
    background-color: steelblue;
    color: white;
    margin: 15px;
    padding: 15px;
    float: left;
    border-radius: 5px;
    box-shadow: 0 0 20px;
    font-family: 'Courier New', Courier, monospace ;
}
  